.PodcastList {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
}

.SmallTitle {
    font-size: 2rem;
}

.Title {
    margin-bottom: 3rem;
}

.Wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 6rem;
}
