@import '../../utils';

.Episode {
    display: flex;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 5px;
    background-color: $bg;
    transition: transform 0.25s ease-in-out;

    &:hover {
        transform: scale(1.018);
    }
}

.Content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.ImageWrapper {
    width: 4rem;
    height: 4rem;
    position: relative;
    margin-right: 2rem;
    overflow: hidden;
    flex-shrink: 0;
    background: $offset;
    border-radius: 5px;
}

.Image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.Title {
    font-size: 1.5rem;
    font-weight: 600;
    color: $text;
}

.Duration {
    font-size: 1.4rem;
    color: $light-text;
}

.Play {
    flex-shrink: 0;
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 2rem;
    fill: $primary;
    cursor: pointer;
    border-radius: 50%;
    transition: box-shadow 0.15s ease-in-out;

    &:focus {
        outline: 0;
        box-shadow: 0 0 0 2px $offset, 0 0 0 4px $primary;
    }
}
