.Item {
    list-style: none;

    &:hover {
        background-color: #f7f7f7;
    }
}

.Link {
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: #222;
}

.Image {
    width: 4rem;
    height: 4rem;
    margin-right: 1.5rem;
}

.Title {
    color: #222;
}
