@import '../../utils';

.Item {
    display: flex;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ImageWrapper {
    height: 15rem;
    width: 15rem;
    background-color: $bg;
    border-radius: 3rem;
    overflow: hidden;
    margin-right: 3rem;
    position: relative;
    flex-shrink: 0;
}

.Image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.Title,
.Publisher {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    white-space: normal;
    overflow: hidden;
}

.Publisher {
    color: $light-text;
    font-weight: 600;
    font-size: 1.4rem;
}

.Button {
    padding: 0.5rem 1rem;
    text-align: center;
    border: 1px solid $primary;
    border-radius: 100px;
    color: $primary;
    text-decoration: none;
    align-self: flex-start;
    font-size: 1.5rem;
}

.Slider {
    flex-direction: column;

    .Image {
        margin-right: 0;
        margin-bottom: 1rem;
    }

    .Publisher {
        font-size: 1.3rem;
    }

    .Title {
        font-size: 1.5rem;
    }
}
