@import '../../utils';

.Item {
    display: flex;
}

.Content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ImageWrapper {
    height: 15rem;
    width: 15rem;
    background-color: $bg;
    border-radius: 3rem;
    overflow: hidden;
    margin-right: 3rem;
    flex-shrink: 0;
    align-self: center;

    @media only screen and (max-width: 576px) {
        width: 12rem;
        height: 12rem;
    }
}

.Image {
    width: 100%;
}

.Title {
    @media only screen and (max-width: 340px) {
        font-size: 1.5rem;
    }
}

.Publisher {
    color: $light-text;
    font-weight: 600;
    font-size: 1.4rem;
}

.Button {
    padding: 0.5rem 1.5rem;
    text-align: center;
    border: 1px solid $primary;
    border-radius: 100px;
    color: $primary;
    text-decoration: none;
    align-self: flex-start;
    font-size: 1.5rem;
    font-weight: 600;
    transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;

    &:focus,
    &:hover {
        outline: 0;
        color: $offset;
        background-color: $primary;
    }
}
