@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import './utils';
@import-normalize;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;

    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: #f4f4f4;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: $text;
    overflow-y: scroll;
    overflow-y: overlay;
}

h1 {
    margin: 0;
}

.App {
    display: grid;
    grid-template-columns: 20rem auto;
    grid-column-gap: 4rem;
    padding: 4rem 2rem;
}

.main-page {
    grid-column-start: 2;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1600px) {
    .container {
        max-width: 1600px;
    }
}
